@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --font-family: 'Nunito Sans', sans-serif;
  --gradient: linear-gradient(to bottom, #802aea, #641cbc);
  --primary: #641cbc;
  --secondary: #802aea;
  --muted: #4f4f4f;
  --normal: #ffffff;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: var(--font-family);
  background: var(--gradient);
  background-repeat: no-repeat;
}
